body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(img/starbg.gif);
}

a.navbar {
    text-align: justify;
    text-justify: inter-word;
    color: white;
} 

a.navlink {
    text-decoration: none;
}

a.navlink:hover {
    text-decoration: underline;
}

a.navlink:visited {
    color: #FFFFFF;
}

a.navlink:link {
    color: #FFFFFF;
}

#header-left {
    width: 79%;
    text-align: left;
    /* background-color: orange; */
    margin: auto;
}
